body
{
    background-image: url("labyrinth.jpg");
    display: flex;
    flex-direction: column;
    
}
h1
{
    text-align: center;
    color: #fff;
    font-size: 40px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    z-index: 10;
    
}


table
{
    border: 2px solid black;
    width:58%;
    height: 470px;
    margin: auto;
    padding: 0;
    border-collapse: collapse;
    background-color: rgba(145, 145, 145, 0.5);
    box-shadow: -3px -2px 5px 4px black;
    z-index: 5;

}

tr{
    /* border: 3px solid black; */
    margin: 0;
    padding: 0;

}

td{
    /*border: 2px solid black; */
    margin: 0;
    padding: 0;
    width: 3%;
    height: 9%;
   
}
#stitch
{
    background: url("Stitch.png") no-repeat;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#chi
{
    background: url("chi.png") no-repeat;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}
.BB
{
    border-bottom: 4px solid black;
}

.BR
{
    border-right: 4px solid black;
}

.BT
{
    border-top: 4px solid black;
}

.winner{
   display: none; 
    background:url("Stitch1.png") no-repeat;
    position: absolute;
    top: 35%;
    right: 10%;
    left: 42%;
    bottom: 0%;
    z-index: 10;
    font-size: 30px;
}

#flex{
    display: flex;
}
    
#timer{
    border: 2px solid  black;
    border-radius: 30%;
    box-shadow: 2px 2px black;
    text-shadow: 1px 2px 3px black;
    background: rgb(168, 168, 168);
    width: 15%;
    height: 20px;
    text-align: center;
    margin-right:4%;
}

#reset{ /* reset game */

    border: 2px solid black;
    width: 17%;
    text-align: center;
    
}